body {
    display: flex;
    margin-top: 100px;
    align-items: center;
    border-radius: 3px;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(135deg, #FF7F50, #FFB84D, #FFD699); /* Laranja suave */
    background-attachment: fixed;
    background-size: cover;
    color: white; /* Para garantir legibilidade */
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    margin-bottom: 10px;
}

input {
    height: 45px;
    width: 400px;
    border-radius: 22px;
    border: 2px solid #4DB8A8; /* Verde suave */
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 6px rgba(11, 91, 59, 0.1);
}

/* Estiliza o placeholder */
input::placeholder {
    color: #383434;
    font-size: 15px;
    font-style: italic;
    text-align: left;
    opacity: .7;
}

/* Efeito ao focar no input */
input:focus {
    border-color: #2D9072; /* Verde mais suave */
    box-shadow: 0px 0px 8px rgba(87, 209, 152, 0.6);
    background-color: #f8f8f8;
    transform: scale(1.02);
}

button {
    height: 50px;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #3CD360, #16C47E); /* Verde mais suave e vibrante */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(135deg, #04D976, #029E5B); /* Verde limão escuro + verde vibrante */
    transform: scale(1.07);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Efeito de clique */
button:active {
    transform: scale(0.98);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ffffff;
    text-align: center;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

img {
    border-radius: 90%;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efeito sombra */
}

p {
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    line-height: 1.5; /* Melhora a legibilidade */
    max-width: 600px;
    margin: 10px auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #ea4104; /* Laranja suave */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(92, 186, 164, 0.2);
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
